<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<dict>
		<key>default</key>
		<string>defaultAppKey</string>
		<key>accept</key>
		<string>acceptanceAppKey</string>
	</dict>
	<key>appSecret</key>
	<dict>
		<key>store</key>
		<string>storeAppSecret</string>
		<key>accept</key>
		<string>acceptanceAppSecret</string>
		<key>default</key>
		<string>defaultAppSecret</string>
		<key>debug</key>
		<string>debugAppSecret</string>
		<key>release</key>
		<string>releaseAppSecret</string>
		<key>adhoc</key>
		<string>adhocAppSecret</string>
	</dict>
</dict>
</plist>
